@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&display=swap');

:root{
    --fontSizeTitre:calc(20px + 2vw);
    --fontSizeContenu:calc(12px + 1vw);
    --fontFamilyCursive:'Dancing Script', cursive;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/**********************GLOBAL*********************************/

.global{
    padding:15px 0;
    font-family:var(--fontFamilyCursive);
    font-size:var(--fontSizeContenu);
    color:white;
    backdrop-filter:blur(2px)
}

.global a{
    display:inline-block;
    text-decoration:none;
    transition:transform 0.5s;

}

.global a:hover{
    transform:scale(1.1)
}

/**************************INDEX.PHP ******************************/

.containerIndex{
    background-image:url(img/ville.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.containerIndex button{
    font-size:var(--fontSizeContenu);
    margin-bottom:10px;
    background-color:transparent;
    border:2px solid #fff;
    padding:10px 20px;
    backdrop-filter:blur(5px);
    cursor:pointer;
    overflow:hidden;
    

}

.containerIndex button:before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    transform:translateX(-100%);
    background-color:white;
    z-index:-1;
    transition:transform 0.5s;
}

.containerIndex button:hover:before{
    transform:translateX(0)
}

.containerIndex button a{
    text-decoration:none;
    color:white;
    position:relative;
    z-index:5;

}

.containerIndex button:hover a{
    color:#012e43
}


/**********************AFFICHER VILLE *************************************/

.recupererVilleEtCodePostaux{
    display:flex;
    justify-content:center;
    flex-direction:column;
    background-image: url(img/ville3.jpg);
    background-size: cover;
    /* background-repeat: no-repeat; */
    min-height:100vh;
    padding-top:10px
}

.recupererVilleEtCodePostaux table{
    width:90%;
    border-collapse:collapse;
  
   
}

.recupererVilleEtCodePostaux th{
    font-size:var(--fontSizeTitre)
}

.recupererVilleEtCodePostaux td,th{
    border:1px solid black;
    padding:10px 0;
    text-align:center;
    font-size:var(--fontSizeContenu)
}

/*************************************FORMULAIRE INSCRIPTION.PHP ****************************/

.containerFormulaireInscriptionNouvelleVille{
    background-image: url(img/ville1.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    
}

.containerFormulaireInscriptionNouvelleVille h2{
    text-align:center;
    color:#fff;
    font-family:var(--fontFamilyCursive);
    padding-top:30px;
    font-size:var(--fontSizeTitre)
}

.containerFormulaireInscriptionNouvelleVille form{
    display:flex;
    flex-direction:column;
    align-items:center;
    min-height:100vh;
    justify-content:center;
}

.containerFormulaireInscriptionNouvelleVille form label{
    backdrop-filter:blur(5px);
    color:#fff;
    font-size:var(--fontSizeContenu)
}

.containerFormulaireInscriptionNouvelleVille form input{
    margin-bottom:17px;
    text-align:center;
    outline:none;
    transition:background-color 0.5s;
    color:#fff;
    padding:5px;
}

.containerFormulaireInscriptionNouvelleVille form input:focus{
    background-color:#0a9496
}

.containerFormulaireInscriptionNouvelleVille button{
    background:transparent;
    padding:5px 10px;
    color:white;
    backdrop-filter:blur(5px);
    cursor:pointer;
    font-size:var(--fontSizeContenu);
    position:relative;
    z-index:99;
    transition:color 0.5s;
    overflow:hidden;
    box-shadow:5px 5px 5px rgba(0,0,0,0.8)
}

.containerFormulaireInscriptionNouvelleVille button:before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:white;
    transform:translateX(-100%);
    transition:transform 0.5s;
    z-index:-1;
}

.containerFormulaireInscriptionNouvelleVille button:hover:before{
    transform:translateX(0)
}

.containerFormulaireInscriptionNouvelleVille button:hover {
    color:#0a9496
}




/********************INSERTION NOUVELLE VILLE.PHP***************/

.containerAjoutNouvelleVille{
    background-image:url(img/ville2.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    
}


.containerAjoutNouvelleVille p{
    font-size:var(--fontSizeTitre);
    color:#fff;
    font-family:var(--fontFamilyCursive)
}


/***********************MODIFIER FORMULAIRE.PHP ****************/

.containerMofifierVille{
    background-image: url(img/ville4.jpg);
    background-size: cover;
    bacground-repeat:no-repeat;
    min-height:100vh;
}